.card__weather {
    padding: 2rem;
    width: 49vh;
    border-radius: 10px;
    background-color: #e4e6e9db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather__title {
    font-size: 2rem;
    font-weight: 600;
}

.weather__form {
    margin: 1rem 0;
}

.input__weather {
    border-radius: 10px;
    padding: 3px;
    border: none;
}

.button__form {
    margin-left: 10px;
    padding: 3px;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: transform .5s;
}

.button__form:hover {
    transform: scale(1.1);
    transition: transform .5s;
  }

.weather__city {
    margin-bottom: 1rem;
    font-weight: 200;
}

.weather__container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
}

.weather__container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather__fig {
    width: 200px;
    display: flex;
    justify-content: center;
}

.weather__img {
    height: 150px;
}

.weather__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info__title {
    font-weight: 400;
}

.info {
    font-weight: 700
}

.weather__btn {
    border-radius: 5px;
    padding: 8px 20px;
    box-shadow: 9px 5px 19px -5px;
    font-weight: 800;
    margin-top: 1rem;
    transition: transform .5s;
}

.weather__btn:hover {
    transform: scale(1.1);
    transition: transform .5s;
  }


  @media (max-width: 720px) {
    .weather__container1 {
        display: flex;
        flex-direction: column;
    }

    .weather__fig {
        justify-content: center;
    }

    .weather__img {
        margin-top: -3rem;
    }

    .card__weather {
        width: 43vh;
    }
  }

  @media (min-width: 720px) {
    .card__weather {
        width: 60vh;
    }
  }